*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}

body {
    background: green;
    min-width: 100vh;
    user-select: none;
}

.container {
    position: relative;
    background-image: url(/img/banner-minecraft.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100vh;
}

.form {
    transform: translate(-50%, -50%);
    background: #2b2b2b;
    position: absolute;
    color: #fff;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    padding: 10px;
}

.form input {    
    border: 1px solid #161616;
    justify-content: center;
    align-items: center;
    background: #161616;
    position: relative;
    border-radius: 5px;
    color: #fff;
    display: flex;
    width: 325px;
    height: 27px;
    top: 65px;
    left: 25px;
    padding: 5px;
}

.form span {
    position: relative;
    color: #fff;
    font-size: 12px;
    top: 15px;
    left: 25px;
}

.form button {
    position: absolute;
    border: 1px solid #000;
    background: #168B4C;
    font-size: 18px;
    color: #fff;
    width: 325px;
    height: 45px;
    bottom: 125px;
    left: 35px;
    cursor: pointer;
}

.form button:hover {
    background: #168b4dbf;
}

.form input:hover {
    border: 1px solid #161616;
}

.form p strong {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    top: 175px;
    left: 85px;
}

.form h3 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    top: 205px;
    left: 113px;
}

.form img {
    position: absolute;
    margin-top: -40px;
    left: 55px;
    vertical-align: middle;
}

.check {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    transform:translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
    top: 50%;
    left: 43.5%;
}
